<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dataSource-xml" class="atm.DataSource">
        <constructor-arg value="customers.txt"/>
    </bean>
    <bean id="bank-xml" class="atm.Bank">
        <property name="dataSource" ref="dataSource-xml"/>
    </bean>
    <bean id="atm-xml" class="atm.ATM">
        <constructor-arg ref="bank-xml"/>
    </bean>
    <bean id="atmSimulator-xml" class="atm.ATMSimulator">
        <property name="atm" ref="atm-xml"/>
    </bean>

</beans>